/* Button
--------------------------*/
@keyframes border-breathe {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);;
  }

  33% {
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 1);
  }

  100% {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
  }
}

/* Icon
--------------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
