/* Middle
-------------------------- */
@mixin hvFlexCenterMx($flexType) {
  display: $flexType;
  justify-content: center;
  align-items: center;
}

/* Types
-------------------------- */
$typeList: primary, warning, danger, info;

